@media screen and (min-width: 1930px)
  .bao
    &__rulet
      right: auto
      left: 0

@media screen and (min-width: 2300px)
  .bao
    &__womans-wrapper
      transform-origin: top center
      transform: scale(1.2)
    &__rulet
      transform: scale(1.3)
      transform-origin: bottom center
      left: 57px
      bottom: -285px
    .parallax
      top: 52px
      left: -153px
      &__layer
        &-item
          transform: scale(1.2)


@media screen and (max-width: 1920px) and (max-height: 960px)
  .bao
    &__link
      margin: 0 0 121px 0
    .parallax
      &__layer
        .item-3
          top: 442px
        .item-9
          bottom: 368px

@media screen and (max-width: 1680px)
  .bao
    &__title
      font-size: 72px
      line-height: 79px
    &__text
      font-size: 28px
      line-height: 32px
    &__info
      margin-left: -130px
    &__logo
      left: 94px

@media screen and (max-width: 1680px) and (max-height: 970px)
  .bao
    &__rulet
      transform-origin: bottom right
      transform: scale(0.9)
      bottom: -207px


@media screen and (max-width: 1600px) and (max-height: 900px)
  .bao
    .parallax
      .item-12
        top: 35px
      .item-11
        top: 107px
      .item-10
        top: 231px
      .item-1
        top: -30px
        transform: scale(0.7)
      .item-2
        top: 263px
      .item-3
        top: 361px

      &__layer
        &-item
          transform: scale(0.9)


@media screen and (max-width: 1600px) and (max-height: 840px)
  .bao
    &__info
      transform-origin: top left
      transform: scale(0.9)
    .parallax
      .item-4,
      .item-5,
      .item-6,
      .item-7,
      .item-8,
      .item-9
        transform: scale(0.9) translateY(60px)
    &__rulet
      transform-origin: bottom right
      transform: scale(0.83)
      bottom: -190px


@media screen and (max-width: 1600px) and (max-height: 780px)
  .bao
    &__rulet
      transform-origin: bottom right
      transform: scale(0.78)
      bottom: -170px
    &__info
      position: absolute
      left: 94px
      top: 175px
      margin: 0
    //&__logo
    //  top: 45px
    &__wrapper
      justify-content: flex-end
    .parallax
      .item-4,
      .item-5,
      .item-6,
      .item-7,
      .item-8,
      .item-9
        transform: scale(0.8) translateY(100px)



@media screen and (max-width: 1540px) and (max-height: 870px)
  .bao
    &__info
      transform: scale(0.8)
      transform-origin: top left
      position: absolute
      left: 94px
      margin: 0
      top: 234px
      height: 100vh
    &__link
      margin: 0
    &__wrapper
      justify-content: flex-end
    &__footer
      position: absolute
      bottom: 140px
    &__rulet
      transform: scale(0.8)
      bottom: -180px
    .parallax
      .item-4,
      .item-5,
      .item-6,
      .item-7,
      .item-8,
      .item-9
        transform: scale(0.8) translateY(50px)
      .item-1,
      .item-2,
      .item-3,
      .item-12,
      .item-11,
      .item-10
        transform: scale(0.8) translateY(-40px)

@media screen and (max-width: 1540px) and (max-height: 770px)
  .bao
    .parallax
      .item-4,
      .item-5,
      .item-6,
      .item-7,
      .item-8,
      .item-9
        transform: scale(0.8) translateY(90px)
      .item-1,
      .item-2,
      .item-3,
      .item-12,
      .item-11,
      .item-10
        transform: scale(0.8) translateY(-50px)
    &__rulet
      transform: scale(0.7)
      bottom: -170px

@media screen and (max-width: 1440px)
  .bao
    &__rulet
      transform: scale(0.75)
      bottom: -175px

@media screen and (max-width: 1440px) and (max-height: 800px)
  .bao
    &__rulet
      transform: scale(0.7)
      bottom: -155px


@media screen and (max-width: 1366px)
  .bao
    &__logo
      max-width: 155px
      top: 36px
      left: 84px
    &__info
      transform: scale(1)
      left: 84px
    &__title
      font-size: 62px
      line-height: 70px
      margin: 0 0 15px 0
    &__text
      font-size: 26px
      line-height: 26px
      margin: 0 0 30px 0
    &__link
      font-size: 20px
      line-height: 24px
      padding: 20px 55px 18px
      margin: 0 0 120px 0
    &__rulet
      right: auto
      transform: scale(0.9)
      bottom: -240px
    &__info
      transform: scale(1)
      transform-origin: top left
      position: absolute
      left: 86px
      margin: 0
      top: 290px
      height: 100vh
    &__link
      margin: 0
    &__wrapper
      justify-content: flex-end
    &__footer
      position: absolute
      bottom: 334px
      transform-origin: left center
      transform: scale(0.85)

@media screen and (max-width: 1366px) and (max-height: 950px)
  .bao
    &__info
      top: 250px
    &__footer
      position: absolute
      bottom: 290px


@media screen and (max-width: 1366px) and (max-height: 870px)
  .bao
    &__footer
      bottom: 276px
      left: 0
    &__info
      margin: 0

@media screen and (max-width: 1366px) and (max-height: 970px)
  .bao
    &__rulet
      transform: scale(0.8)
      bottom: -162px
      right: -63px


@media screen and (max-width: 1366px) and (max-height: 778px)
  .bao
    &__info
      top: 182px
    &__footer
      bottom: 215px
    &__rulet
      transform: scale(0.7)




@media screen and (max-width: 1366px) and (max-height: 690px)
  .bao
    .parallax
      &__layer
        .item-4,
        .item-5,
        .item-6,
        .item-7,
        .item-8,
        .item-9
          transform: scale(0.7) translateY(110px)
        .item-1,
        .item-2,
        .item-3,
        .item-12,
        .item-11,
        .item-10
          transform: scale(0.7) translateY(-90px)
    &__info
      transform-origin: top left
      transform: scale(0.85)
      top: 182px
    &__footer
      transform: scale(1)
      bottom: 140px
    &__rulet
      transform: scale(0.65)
      right: -39px



@media screen and (max-width: 1280px) and (max-height: 800px)
  .bao
    &__info
      top: 182px
    &__footer
      bottom: 215px
    &__rulet
      transform: scale(0.7)

@media screen and (max-width: 1280px) and (max-height: 690px)
  .bao
    &__footer
      bottom: 132px

@media screen and (max-width: 1280px) and (max-height: 665px)
  .bao
    &__rulet
      transform: scale(0.6)
      bottom: -143px
    .parallax
      &__layer
        .item-4,
        .item-5,
        .item-6,
        .item-7,
        .item-8,
        .item-9
          transform: scale(0.65) translateY(210px)

@media screen and (max-width: 1280px) and (max-height: 650px)
  .bao
    &__info
      top: 139px
    &__footer
      bottom: 89px

@media screen and (max-width: 1280px) and (max-height: 610px)
  .bao
    &__rulet
      bottom: -172px



//@media screen and (max-width: 1180px)
//  .bao
//    .parallax
//      left: -554px
//    &__pic
//      transform-origin: bottom right
//      transform: scale(0.55)
//    &__womans-wrapper
//      transform-origin: bottom right
//      transform: scale(1.8)
//
//@media screen and (max-width: 1145px)
//  .bao
//    .parallax
//      left: -554px
//    &__pic
//      transform-origin: bottom right
//      transform: scale(0.5)
//    &__womans-wrapper
//      transform-origin: bottom right
//      transform: scale(1.85)
//
//@media screen and (max-width: 1045px)
//  .bao
//    &__pic
//      transform-origin: bottom right
//      transform: scale(0.5)
//    &__womans-wrapper
//      transform-origin: bottom right
//      transform: scale(1.85)




@media screen and (max-width: 1024px) and (orientation: landscape)
  .bao
    &__wrapper
      padding: 0 14px 0 0
    &__logo
      max-width: 124px
      top: 25px
      left: 25px
    &__info
      left: 25px
    &__pic
      transform-origin: bottom center
      transform: scale(0.9)
      right: -43px
    &__title
      font-size: 56px
      line-height: 62px
      margin: 0 0 13px 0
    &__text
      font-size: 22px
      line-height: 26px
    &__link
      font-size: 20px
      line-height: 24px
      padding: 20px 55px 18px
    &__footer
      transform: scale(0.75)
      left: 26px


//@media screen and (max-width: 1024px) and (max-height: 770px)
//  .bao
//    .parallax
//      left: -547px
//    &__rulet
//      right: 331px

//@media screen and (max-width: 1015px)
//  .bao
//    .parallax
//      left: -556px
//    &__rulet
//      right: 310px

@media screen and (max-width: 920px) and (orientation: landscape)
  .bao
    &__info
      transform: scale(0.7)
      transform-origin: right center
    &__pic
      margin: 0 -112px 0 0


/*************************************TABLET******************************************/

@media screen and (max-width: 1024px) and (orientation: portrait)
  .bao
    &::before
      content: ''
      position: absolute
      bottom: 0
      width: 100%
      height: 172px
      background: linear-gradient(180deg, #243080 0%, rgba(0, 117, 255, 0) 100%)
      transform: rotate(180deg)
      z-index: 20
    &__logo
      max-width: 145px
      top: 30px
      left: 50%
      transform: translateX(-50%)
    &__wrapper
      flex-direction: column-reverse
    &__info
      margin-top: 176px
      align-items: center
      margin-right: -15px
    &__title
      text-align: center
      font-size: 56px
      line-height: 62px
      margin: 0 0 15px 0
      br:first-child
        display: none
    &__text
      font-size: 22px
      line-height: 26px
      text-align: center
    &__info
      position: static
    &__link
      padding: 24px 60px 22px
      font-size: 30px
      line-height: 36px
      position: absolute
      bottom: 108px
      left: 50%
      transform: scale(1) translateX(-50%)
      margin: 0
    &__footer
      position: absolute
      bottom: 30px
      left: 50%
      transform: scale(1) translateX(-50%)
    &__pic
      position: absolute
      bottom: 0
      transform-origin: bottom right
      transform: scale(0.8)
    &__womans-wrapper
      transform-origin: bottom right
      transform: scale(0.95)
      right: -196px
    .parallax
      left: -107px
      &__layer
        &-item
          transform: scale(1.2)
        .item-1
          transform: scale(1)
          left: -275px
          bottom: 175px
        .item-2
          bottom: 401px
          left: -100px
        .item-3
          transform: scale(1.1)
          bottom: 319px
          left: 286px
        .item-4
          transform: scale(1)
          bottom: 265px
          left: 138px
        .item-5
          bottom: -146px
          left: -376px
        .item-6
          transform: scale(1)
          left: -248px
          bottom: 164px
        .item-7
          transform: scale(1)
          bottom: 371px
          left: -88px
        .item-8
          transform: scale(1.1)
          bottom: 514px
          left: -90px
        .item-9
          bottom: 549px
          left: 144px
        .item-10
          transform: scale(1.1)
          bottom: 477px
          left: 407px
        .item-11
          transform: scale(1.1)
          bottom: 159px
          left: 409px
        .item-12
          bottom: 18px
          left: 456px
        .item-13
          left: auto
          right: -310px
          transform: scale(1.7)
          bottom: 2px

@media screen and (max-width: 920px) and (orientation: portrait)
  .bao
    &__rulet
      right: 56px

@media screen and (max-width: 840px) and (orientation: portrait) and (max-height: 1125px)
  .bao
    .parallax
      left: -189px
    &__pic
      transform-origin: bottom right
      transform: scale(0.7)
    &__womans-wrapper
      transform-origin: bottom right
      transform: scale(1.05)
    &__rulet
      right: 65px
      bottom: -166px

@media screen and (max-width: 840px) and (orientation: portrait) and (max-height: 1055px)
  .bao
    .parallax
      left: -240px
    &__pic
      transform-origin: bottom right
      transform: scale(0.66)
    &__womans-wrapper
      transform-origin: bottom right
      transform: scale(1.08)

@media screen and (max-width: 825px) and (orientation: portrait) and (max-height: 1190px)
  .bao
    &__rulet
      right: -10px

@media screen and (max-width: 770px) and (orientation: portrait)
  .bao
    .parallax
      left: -289px
      &__layer
        .item-4
          bottom: 308px
          left: 96px
    &__rulet
      transform: scale(1)
      bottom: -156px
      right: 65px
    &__pic
      transform-origin: bottom right
      transform: scale(0.6)
    &__womans-wrapper
      transform-origin: bottom right
      transform: scale(1.1)

@media screen and (max-width: 770px) and (orientation: portrait) and (max-height: 920px)
  .bao
    &__pic
      transform-origin: bottom right
      transform: scale(0.59)
    &__womans-wrapper
      transform-origin: bottom right
      transform: scale(1.18)


/*************************************MOBILE******************************************/

@media screen and (max-width: 600px) and (orientation: portrait)
  .bao
    &__logo
      max-width: 134px
      top: 25px
    &__info
      height: 100%
      position: absolute
      top: 0
      margin-top: 0
      transform: scale(1)
      padding: 90px 0 0 0
    &__title
      font-size: 32px
      line-height: 38px
      margin: 0 0 9px 0
    &__text
      font-size: 16px
      line-height: 19px
    &__footer
      bottom: 30px
      transform-origin: center bottom
      transform: scale(0.73)
      left: auto
    &__link
      bottom: 85px
      font-size: 22px
      line-height: 27px
      padding: 18px 60px 16px
    &__pic
      transform-origin: bottom right
      transform: scale(0.5)
    &__womans-wrapper
      transform-origin: bottom right
      transform: scale(1.6)
      margin-right: -50px
    &__womans
      top: 100px
      &-2
        margin-right: 34px
      &-3
        margin-right: 34px
      &-3
        top: 130px
    &__rulet
      bottom: -3px
      right: -128px
    .parallax
      &__layer
        .item-1
          bottom: 375px
          left: -220px
          transform: scale(0.8)
        .item-2
          bottom: 495px
          left: -116px
        .item-3
          transform: scale(1)
          bottom: 443px
          left: 246px
        .item-4
          bottom: 412px
          left: 79px
        .item-5
          bottom: -7px
          left: -307px
        .item-6, .item-7, .item-10
          display: none
        .item-8
          transform: scale(1)
          bottom: 424px
          left: -191px
        .item-9
          transform: scale(1.4)
          bottom: 655px
          left: 102px
        .item-11
          bottom: 272px
          left: 356px
        .item-12
          bottom: 129px
          left: 371px
    &__womans
      width: 44vh
      &-2
        width: 50vh

@media screen and (max-width: 600px) and (orientation: portrait) and (max-height: 720px)
  .bao
    &__rulet
      bottom: -49px
    .parallax
      bottom: -30px

@media screen and (max-width: 395px)
  .bao
    .parallax
      left: -255px


@media screen and (max-width: 380px) and (orientation: portrait) and (max-height: 750px)
  .bao
    &__footer
      transform-origin: center
      transform: scale(0.65)
      bottom: 17px
    &__link
      bottom: 74px
    &__rulet
      transform-origin: bottom center
      transform: scale(0.85)
    .parallax
      transform-origin: bottom center
      transform: scale(0.85)
      left: -256px
    &__womans-wrapper
      margin-right: -19px



@media screen and (max-width: 380px) and (orientation: portrait) and (max-height: 650px)
  .bao
    &__rulet
     transform-origin: bottom center
     transform: scale(0.7)
    .parallax
      transform-origin: bottom center
      transform: scale(0.7)
    &__link
      transform-origin: bottom center
      transform: translateX(-50%) scale(0.8)
      bottom: 53px
    &__footer
      transform-origin: bottom center
      transform: scale(0.6)
      bottom: 17px
    &__womans-wrapper
      transform: scale(1.5)
      margin-right: 59px

@media screen and (max-width: 330px) and (orientation: portrait)
  .bao
    &__rulet
      transform-origin: bottom center
      transform: scale(0.69)
    .parallax
      transform-origin: bottom center
      transform: scale(0.69)
    &__link
      transform-origin: bottom center
      transform: translateX(-50%) scale(0.77)
      bottom: 53px
    &__footer
      transform-origin: bottom center
      transform: scale(0.57)
      bottom: 17px
    &__womans-wrapper
      transform: scale(1.5)
      margin-right: 59px
    &__title
      font-size: 28px
      line-height: 35px
    &__text
      font-size: 14px

/*************************************LANDSCAPE******************************************/

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
  .bao
    &__womans
      top: -112px
      &-3
        top: -50px
        margin: 0 -20px 0 0
      &-1,
      &-4
        margin: 0 -40px 0 0
    &__womans-wrapper
      margin: 0 193px 0 0
    &__pic
      margin: 0 -147px 0 0
    &__info
      margin: 0
      transform: scale(0.6)
    &__link
      margin: 0 0 60px 0
    &__footer
      margin: 0 0 0 12px
    &__rulet
      right: 119px
      transform-origin: bottom center
      transform: scale(0.8)
    .parallax
      transform-origin: bottom center
      transform: scale(0.8)
      left: auto
      right: 338px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 390px)
  .bao
    &__rulet
      transform-origin: bottom center
      transform: scale(0.7)
      bottom: -132px
    .parallax
      transform-origin: bottom center
      transform: scale(0.75)
    &__info
      transform-origin: center right
      transform: scale(0.5)
      margin-top: -30px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 335px)
  .bao
    &__rulet
      transform-origin: bottom center
      transform: scale(0.65)
      bottom: -132px
    .parallax
      transform-origin: bottom center
      transform: scale(0.7)
    &__womans
      top: -132px
      &-3
        top: -60px
    &__info
      transform-origin: center right
      transform: scale(0.5)
      margin-top: -60px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 300px)
  .bao
    &__rulet
      transform-origin: bottom center
      transform: scale(0.6)
    .parallax
      transform-origin: bottom center
      transform: scale(0.65)
    &__womans
      top: -152px
      &-3
        top: -80px
    &__info
      transform-origin: center right
      transform: scale(0.5)
      margin-top: -80px

@media screen and (max-width: 750px) and (orientation: landscape) and (max-height: 390px)
  .bao
    .parallax
      right: 443px


@media screen and (max-width: 670px) and (orientation: landscape) and (max-height: 390px)
  .bao
    &__pic
      margin: 0 -208px 0 0
    .parallax
      right: 466px

@media screen and (max-width: 600px) and (orientation: landscape) and (max-height: 390px)
  .bao
    &__pic
      margin: 0 -224px 0 0
    .parallax
      right: 416px
    &__rulet
      right: -2px












